<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<bean id="employeeBiz" class="biz.impl.EmployeeBizImpl" p:sessionFactory-ref="sessionFactory" p:employeeDao-ref="employeeDao" ></bean>
	<bean id="claimVoucherBiz" class="biz.impl.ClaimVoucherBizImpl" p:claimVoucherDao-ref="claimVoucherDao"></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager" p:sessionFactory-ref="sessionFactory">
	</bean>
	<!-- 事务工作状态的描述并处理事务的内容的设置-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="save*" propagation="SUPPORTS" />
			<tx:method name="add*" isolation="READ_COMMITTED"/>
			<tx:method name="get*"/>
			<tx:method name="update*" rollback-for="java.lang.Exception"/>
			<tx:method name="delete*" no-rollback-for="java.lang.RuntimeException"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(public * biz..*(..))" id="serviceMethod" ></aop:pointcut>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" ></aop:advisor>
	</aop:config>
</beans>
